body, html {
    background-color: gray;
/*    height: 100%;
    width: 100%;*/
}

.users
    {
        background: coral;
        box-shadow: 1px 1px 1px 1px;
        padding: 6px 10px 8px 17px;
        font-size: 26px;
        width: 50%;
    }
    .active
    {
        background: antiquewhite;
        box-shadow: 1px 1px 1px 1px;
        padding: 6px 10px 8px 17px;
        font-size: 26px;
        width: 50%;
    }

/*
#videos {
    position: relative;
    width: 70%;
    height: 100%;
    float: left;
}
#subscriber {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin-left: 50px;
    z-index: 10;
}
#publisher {
    position: absolute;
    width: 360px;
    height: 240px;
    bottom: 10px;
    left: 10px;
    z-index: 100;
    border: 3px solid white;
    border-radius: 3px;
} */
.btn{
        background: aqua;
    border-radius: 8px 8px 8px 8px;
}
#textchat {
    position: relative;
    width: 100%;
    float: right;
    right: 0;
    height: 100%;
    background-color: #333;
}
#history {
     width: 100%;
     height: calc(100% - 40px);
     overflow: auto;
}
input#msgTxt {
            height: 50px;
            position: absolute;
            bottom: 0;
            width: 50%;
            float:right;
}
#history .mine {
    color: #00FF00;
    text-align: right;
    margin-right: 10px;
}
#history .theirs {
    color: #00FFFF;
    margin-left: 10px;
}
